{% extends 'catalog/base.html' %}

{% block content %}
{%block jumbotron %}
{%endblock%}
{%block contentactions%}
<nav class="navbar sticky-top dewey{{object.dewey_number.number}}">
    <div class="container">
        <div><a class="btn btn-sm bg-light" href="{% url 'publication-dewey' object.dewey_number.number %}">
                {{object.dewey_number.number}} - {{object.dewey_number.name}} </a>
            <a class="btn btn-sm bg-light" href="{% url 'publication-update-pk' object.pk %}">edit</a></div>
    </div>
</nav> {%endblock%}

<div class="container pt-3">
    <div class="row minheightscreen">
        {%if object.image_url or object.image_file %}
        <div class="col-4 col-xl-3 left-sidebar">
            {%if object.image_url %}
            <img src="{{ object.image_url }}" class="img-fluid" alt="Image de {{object.name}}">
            {% endif %}
            {%if object.image_file %}
            <hr>
            image attachée : {{ object.image_file }}
            {% endif %}
        </div>
        <div class="col-8 col-xl-9 pt-3">
            {% else %}
            <div class="col-12 pt-3 ">
                {% endif %}
                <h2>{{object.name}}</h2>
                de <strong>{{object.author}}</strong>, {{object.author.century_birth}} siècle
                {% if object.label_editor %}
                ,
                {% if object.type_publication == 'B' %}Edition{% elif object.type_publication  == 'M' %}Label{%else %}Source{%endif%}
                &nbsp;{{ object.label_editor }}
                {% endif %}

                <div>
                    {% if object.date_publication %}
                    Date : {{ object.date_publication }} <br>
                    {% endif %}
                    {% if object.type_publication  == 'B' %}Livre{% elif object.type_publication  == 'M' %}Musique{%else %}Autre{%endif%}
                    Réf. {{ object.reference }}
                    {% if object.nb_tracks_pages %}
                    <br>
                    {% if object.type_publication  == 'B' %}Nombre de pages{% else %}Nombre de pistes{%endif%} :
                    {{ object.nb_tracks_pages }}
                    {%endif%}
                </div>

                {% if object.content %}
                <div class="p-2">{{ object.content }} </div>
                {%endif%}

            </div>
        </div>
    </div>
    {% endblock %}